#root {
  margin: 0 auto;
  text-align: center;
}



.container__app{
  background-image: url("./image/halo.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}